.item {
    display: block;
    padding: 16px;
    text-align: center;
    width: 20%;
}

.label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.percentage {
    font-size: 20px;
    font-weight: bold;
} 